nuxeo-social-workspace/nuxeo-social-workspace-core/src/main/resources/schemas/request.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/article/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/request/">

  <xs:element name="username" type="xs:string" />
  <xs:element name="type" type="xs:string" />
  <xs:element name="processedDate" type="xs:date" />
  <xs:element name="processedComment" type="xs:string" />
  <xs:element name="info" type="xs:string" />

</xs:schema>